.container-auth {
    width: 300px;
    margin: 0 auto;
    padding: 10px 0 20px 0;
}

.container-auth h1 {
    padding-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container-auth {
        width: 400px;
    }
    .container-auth input {
        width: 400px;
    }
    .btn-form button {
        width: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .container-auth {
        min-height: 510px;
    }
}

