.logo {
    width: 220px;
    padding: 20px 0 0 10px;
}

header {
    padding-bottom: 30px;
}

@media screen and (min-width: 1200px){
    .logo {
        width: 250px;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
