.card-services {
    width: 320px;
    height: auto;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin-top: 20px;
}

.card-services img {
    width: 320px;
}

.card-services h3 {
    padding: 20px 0;
}

.card-services p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .card-services {
        width: 450px;
    }

    .card-services img {
        width: 450px;
        height: 300px;
    }

}